*{
    padding: 0px;
    margin: 0px;
}

.main{
    margin-left: auto;
    margin-right: auto;
    float: left;
}

.error{
    color: red;
    font-weight: bold;
}

.postPicture{
    width: 300px !important;
    height: 300px !important;
}

.postContent{
    display: inline-block !important;
    float: left;
}

.spanPost{
    display: block;
}

.userDisplay{
    float: left;
}

.fieldsetContent{
    border: solid black 1px;
    border-radius: 20px;
    padding: 10px 0px 10px 0px;
}

.legendContent{
    display: block;
    width: auto;
    max-width: 100%;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
}

.table th, .table td{
    border: none;
}

.fieldsetForm{
    margin: 10px;
    border: solid black 1px;
    border-radius: 20px;
    padding: 10px 0px 10px 0px;
}

.legendForm{
    display: block;
    width: auto;
    max-width: 100%;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}