<!-- Delete Modal -->
<section class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <section class="modal-dialog" role="document">
        <section class="modal-content">
            <section class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Supprimer le post ?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </section>
            <section class="modal-body">
                Voulez-vous vraiment supprimer le post ?
            </section>
            <section class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                <button type="button" id="btnDeleteModal" data-dismiss="modal" class="btn btn-danger">Supprimer</button>
            </section>
        </section>
    </section>
</section>